/EcosurEAR/target/
/EcosurJPA/target/
/EcosurWAR/target/
/deploy-module.iml
/EcosurEAR/ecosur-ear.iml
/EcosurJPA/ecosur-jpa.iml
/EcosurWAR/ecosur-war.iml
/.project
/.settings/
/EcosurEAR/.classpath
/EcosurEAR/.project
/EcosurEAR/.settings/
/EcosurIT/.classpath
/EcosurIT/.project
/EcosurIT/.settings/
/EcosurIT/target/
/EcosurJPA/.classpath
/EcosurJPA/.project
/EcosurJPA/.settings/
/EcosurWAR/.classpath
/EcosurWAR/.project
/EcosurWAR/.settings/
EcosurWAR/pom.xml~
EcosurIT/ecosur-it.iml
EcosurEAR/pom.xml.releaseBackup
EcosurEAR/pom.xml.tag
EcosurJPA/pom.xml.releaseBackup
EcosurJPA/pom.xml.tag
EcosurWAR/pom.xml.releaseBackup
EcosurWAR/pom.xml.tag
pom.xml.releaseBackup
pom.xml.tag